---
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import SobreNosotros from '../components/SobreNosotros.astro';
import Servicios from '../components/Servicios.astro';
import Portafolio from '../components/Portafolio.astro';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TG2 Construcción</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body>
    <Navbar />
    <main class="pt-20">
      <Hero />
      <SobreNosotros />
      <Servicios />
      <Portafolio />
    </main>
  </body>
</html>
