<footer class="bg-black text-gray-400 py-12 px-6">
    <div class="max-w-6xl mx-auto flex flex-col md:flex-row justify-between items-center gap-4">
      <p class="text-sm">&copy; 2025 <a href="https://www.oceanicaweb.cl/" class="hover:underline">Oceánica Web</a>. Todos los derechos reservados.</p>
      <div class="flex gap-6 text-lg">
        <a
                    href="https://www.instagram.com/oceanicaweb"
                    target="_blank"
                    aria-label="Instagram"
                    class="transition hover:scale-110 hover:text-pink-500 text-white"
                    >
                    <svg class="h-12 w-12 fill-current" viewBox="0 0 24 24"
                        ><path
                            d="M7.5 2h9A5.5 5.5 0 0122 7.5v9a5.5 5.5 0 01-5.5 5.5h-9A5.5 5.5 0 012 16.5v-9A5.5 5.5 0 017.5 2zm0 2A3.5 3.5 0 004 7.5v9A3.5 3.5 0 007.5 20h9a3.5 3.5 0 003.5-3.5v-9A3.5 3.5 0 0016.5 4h-9zm9 2a1 1 0 110 2 1 1 0 010-2zM12 7a5 5 0 110 10 5 5 0 010-10zm0 2a3 3 0 100 6 3 3 0 000-6z"
                        ></path></svg
                    >
                    </a>

        <a href="mailto:contacto@tg2.cl" class="hover:text-white transition">
          contacto@tg2.cl
        </a>
        <a href="tel:+56912345678" class="hover:text-white transition">
          +56 9 1234 5678
        </a>
      </div>
    </div>
  </footer>
  